version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123pass
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql    # Guarda los datos en tu carpeta local